{% extends 'appOne/base.html'%}


{%block content%}
    <div class="p-10">
        <h1 class="p-7">This is your Home Page.</h1>
            {% for product in products %}
                <h1 class="p-3">{{product.name}}</h1>
                <h2 class="p-3">$ {{product.price}}</h2>
                <h3 class="p-3">{{product.desc}}</h3>
                    <h class="p-2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae laboriosam eius ratione architecto debitis! Adipisci nesciunt, dolor odio quo numquam eligendi magnam minima debitis ad delectus quae sequi aperiam repellendus.
                    </h>
            
            {% endfor %}
    </div>
{%endblock%}